body{

    font-family: 'Montserrat', sans-serif;    
}

nav , nav a {
    text-transform: uppercase;
    color: white;
}

nav a.active{
    color: #475CFD;
    font-weight: bold;
}

nav a:hover{
    color: #475CFD;
}

h5{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    color: white;
}

.main h1{
    font-weight: 100;
}

.main h1 span{
    font-weight: 600;
    color: #475CFD;
}

.h1 p{
    font-size: 21px;
    font-weight: 100;
    margin-top: 20px;
}

.main button{
    background-color : #f209a2;
    color: white;
    margin-top: 20px;
}

.card-body{
    position: relative;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 50%;
}